.wei-option-list li{
    float: left;
    width: 200px;
    font-size: 18px;
    margin-right: 24px;
    margin-bottom: 24px;
    text-align: center;

}
.wei-option-list li a{
    color: #fff;
    height: 46px;
    padding-top: 8px;
}
.wei-option-list li a:hover{
    text-decoration: none;
}
.wei-option-list li .dashboard-stat{
    margin-bottom: 0;
}